<div class="tasks">
  <div class="task">
    <div class="task-header">
        <%= image_tag("CheckCircle.png") %>
        <h6> Application </h6>
        <span>3 day ago</span>
    </div>
    <table class="task-details">
      <tr>
        <td>Duration</td>
        <td>10min</td>
        <td></td>
      </tr>
      <tr>
        <td>Product</td>
        <td>Tank Mix</td>
        <td>Touchdown Total (48 floz/ac) + FS MaxSupreme (32 floz/ac)</td>
      </tr>
    </table>
  </div>

  <div class="task">
    <div class="task-header">
      <%= image_tag("CheckCircle.png") %>
      <h6> Tillage </h6>
      <span>3 weeks ago</span>
    </div>
    <table class="task-details">
      <tr>
        <td>Duration</td>
        <td>3 min</td>
        <td></td>
      </tr>
      <tr>
        <td>Depth</td>
        <td>7.3 in</td>
        <td class="task-details__warning">0.3 in more than the target</td>
      </tr>
      <tr>
        <td>Pressure</td>
        <td>20 psi</td>
        <td></td>
      </tr>
      <tr>
        <td>Speed</td>
        <td>4.2 mph</td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
