<div class="task">
  <div class="task">
    <div class="task-header">
      <%= image_tag("CheckCircle.png") %>
      <div class="task-header-text">
        <h6> Application </h6>
        <p>3 day ago</p>
      </div>
    </div>
    <ul>
      <li><strong>Product:</strong> "Tank Mix": "Touchdown Total" (rate: 48), "FS MaxSupreme" (rate: 32)"</li>
      <li><strong>Duration:</strong> 10min </li>
      <li><strong>Date:</strong> 03.07.2023</li>
    </ul>
  </div>

  <div class="task">
    <div class="task-header">
      <%= image_tag("CheckCircle.png") %>
      <h6> Tillage </h6>
      <p>3 weeks ago</p>
    </div>
    <ul>
      <li><strong>Duration:</strong> 3 days </li>
      <li><strong>Date:</strong> 03.06.2023</li>
      <li><strong>Depth:</strong> 7.3 in (0.3 in more than the target)</li>
      <li><strong>Pressure:</strong> 20 psi</li>
      <li><strong>Speed:</strong> 4.2 mph </li>
    </ul>
  </div>
</div>
