<%# This page is where we can start bringing in the necessary data for the final view. %>
<div class="container">
  <div class="card">
    <h3>Weather Data</h3>
    <p>Temperature in Kelvin: <%= @weather["main"]["temp"] %></p>
  </div>
</div>