<%# This page is where we can start bringing in the necessary data for the final view. %>
<div class="container">
  <div class="card">
    <h5>Weather</h5>
    <div class="weather-panel">
      <% @weather_week.each do |day|%>
        <div class="weather-card">
          <p><%= day[:weekday] %></p>
          <%= image_tag day[:icon], class: "mb-2" %>
          <p><%= day[:temp] %>ºC</p>
        </div>
      <% end %>
    </div>
      
  </div>
</div>