.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  min-height: 90vh;
  margin-top: 16px;
  margin-bottom: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.column-right {
  flex: 3;
}

.column-left {
  flex: 1;
}