.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  min-height: 90vh;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-right {
  flex: 2;
}

.column-left {
  flex: 1;
}