.tasks-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.tasks-column {
  width: 100%;

  h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.task-header {
  display: flex;
  align-content: baseline;
}

.task-header img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.task-header h6 {
  margin-right: 4px;
  font-size: 14px;
}

.task-header li {
  font-size: 10px;
  margin: 0;
}

.task-header-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
