.tasks-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.tasks-column {
  width: 100%;

  h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.tasks {
  width: 100%;
}

.task-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  h6 {
    margin: 0 8px 0 0;
    font-size: 14px;
  }

  span {
    font-size: 10px;
  }
}

.task-header img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.task-details {
  color: #747474;
  margin-bottom: 16px;
  margin-left: 32px;
  font-size: 12px;
  width: 100%;

  tr {
    height: 32px;

    &:not(:last-child) {
      border-bottom: 1px solid #EFEADD;
    }
  }

  tr td:first-child {
    font-weight: 600;
    width: 10%;
  }

  tr td:last-child {
      width: 80%;
  }

  .task-details__warning {
    color: #f2a900;
  }
}

