.tasks-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.tasks-column {
  width: 100%;

  h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}